.fs-14 {
  font-size: 14px;
}

.pt-60 {
  padding-top: 60px;
}

.mb-27 {
  margin-bottom: 27px;
}

.border-16 {
  border-radius: 1rem;
}
.border-bottom-16{
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.border-top-16{
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.w-40 {
  width: 40%;
}

.border-sp {
  border: 2px solid rgba(255, 255, 255, 0.0782099);
  box-shadow: 0px 24px 48px rgba(0, 1, 44, 0.157184);
}

.myfilter{

  position: relative;

}

.myfilter:after{

position: absolute; content: ''; display: block; top: 0; left: 0; height: 100%; width: 100%;

background: rgba(112, 55, 200, 0.4);

mix-blend-mode: multiply

}