.live__chat {
  background-color: $info;
  border-radius: 1rem;
}

.live__chat-title {
  z-index: 1;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.live__chat-container {
  z-index: 1;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.live__form-control {
  input,
  button {
    background-color: $info;
    border: none;
    border-radius: 0.5rem;
  }
}

.live__video-player {
  background: #36363c;
  border-radius: 1rem;
}

.live__user-logo {
  width: 80px;
  height: 80px;
}

.live__subtitle {
  border-bottom: 1px solid $light;
}

.live__live-match-team {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}

.live__teams {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}

.live__chat-message-container {
  top: 72px;
  left: 0;
}

.live__chat-user-msg {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 0;
}
