body {
  overflow-y: hidden;
  overflow-x: hidden;
  background: $main-background;
  color: $light;
}

input {
  outline: 0;
  color: #fff;
}

* a {
  color: $light;
  text-decoration: none;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.dummy-box {
  width: 100%;
  min-height: 240px;
  border: 1px solid black;
  background-color: aquamarine;
}

.dummy-box-1 {
  width: 100%;
  min-height: 50px;
  border: 1px solid black;
  background-color: rgb(161, 127, 255);
}

#dashboard {
  width: 100vw;
}
@media screen and (min-width: 1200px) {
  #dashboard {
    width: calc(100vw - 295px);
  }
}

#widgets {
  height: 100%;
}

.side-menu-content {
  padding-left: 47px;
}

.upgrade-box {
  margin-top: 75px;
  background-color: $CARD-lINEAR;
  max-width: 179px;
  width: 100%;
  border: none;
  border-radius: 1rem;

  h3 {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 13px;
  }
  .upgrade-text {
    width: 100%;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 22px;
  }

  button {
    font-size: 12px;
    line-height: 12px;
    border-radius: 1rem;
    color: $darker;
  }
}

.search-bar-input {
  border: 1px solid $CARD-lINEAR;
  background: $CARD-lINEAR;
}

.search-icon {
  background-repeat: no-repeat;
  background-size: cover;
  width: 16px;
  height: 16px;
  right: 5% !important;
}

.video {
  position: relative;
}

.featured-game {
  bottom: 48px;
  position: absolute;
  background: $CARD-lINEAR;
}

.featured-game-title {
  font-size: 18px;
}

.featured-game-desc {
  font-size: 10px;
}

.video-player {
  max-height: 345px;
  background: $CARD-lINEAR;
  border-radius: 1rem;
}

.video-player + .featured-game {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}

.video-player:hover + .featured-game,
.featured-game:hover {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.5s linear;
}

.cards {
  background: #202026, 100%;
  min-height: 50px;
}

.card-head {
  font-size: 18px;
}

.card-image-1 {
  background-image: url(https://image.api.playstation.com/cdn/EP0001/CUSA11560_00/oErpzTMuDsXCGPqMbr11PTfTXhVSk8zX.png);
  background-size: cover;
  background-position: center center;
  min-height: 300px;
}

.card-image-2 {
  background-image: url(https://akm-img-a-in.tosshub.com/sites/btmt/images/stories/pub_660_190121023424.jpg);
  background-size: cover;
  background-position: center center;
  min-height: 300px;
}

.card-content {
  background-color: $CARD-lINEAR;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.card-games {
  background-color: $CARD-lINEAR;
  border-radius: 1rem;

  span {
    font-size: 12px;
  }

  .card-description {
    font-size: 10px;
  }
}

// Notification Advancement
.notification-advancement {
  border-radius: 1rem;
  background: #202026;

  .btn {
    font-size: 14px;
  }
}

.notif-container {
  max-width: 393px;
}

.notif-title {
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
}

.notif-subtitle {
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-align: left;
}

.logo {
  background-repeat: no-repeat;
  background-position: center center;
  object-fit: contain;
  width: 40px;
}

@media (min-width: 992px) {
  .logo {
    width: 60px;
  }

  .notif-title {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
  }

  .notif-subtitle {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.02em;
    text-align: left;
  }
}

//recent-games & notification menu
.recent-games,
.notification-menu,
.game-preview {
  background: #202026;
  border-radius: 1rem;
  padding: 30px;
}

.claim-btn {
  font-size: 12px;
  line-height: 14px;
}

.notification-menu-head {
  margin-bottom: 48px;
}

.notif {
  h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.02em;
  }

  .time {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #9090a4;
  }

  .kebab {
    background-color: #23232c;
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }
}

.recent-games-head {
  font-size: 18px;
}

.game {
  margin-top: 30px;
}

.game-preview {
  background: #36363c;
  background-position: center;
  background-repeat: repeat;
  object-fit: cover;
  border: none;
  padding: 0;
  width: 60px;
  height: 60px;
}

.game-info {
  margin-left: 9px;
}

.game-title {
  font-size: 18px;
}

.notif-view-all,
.version {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-align: left;

  color: #a0a0a0;
}

.featured__banner {
  border-radius: 1rem;
}

.profile-user-logo {
  width: 48px;
  height: 48px;
}

.profile-username {
  height: 48px;
}

.featured__card-matches {
  border-radius: 1.5rem;
  background-color: $active;
}

.featured__news {
  background: $CARD-lINEAR;
}

.featured__live-match-team {
  width: 5rem;
  height: 5rem;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .featured__live-match-team {
    width: 6.5rem;
    height: 6.5rem;
    padding: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .featured__live-match-team {
    width: 5rem;
    height: 5rem;
    padding: 1rem;
  }
}

.live__card-matches {
  background: $CARD-lINEAR;
}

.btn-color {
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  transition: opacity 0.3s ease-in-out;
}

.btn-color:before {
  content: "";
  background: linear-gradient(45deg, #d502f1, #00b7ff, #7a00ff, #ff00c8);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 16px;
}

.btn-color:active:after {
  background: transparent;
}

.btn-color:hover:before {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.btn-premium {
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  transition: opacity 0.3s ease-in-out;
}

.btn-premium:before {
  content: "";
  background: linear-gradient(45deg, #f8f3a4, #d6d8cb, #b9bdab, #4c4d48);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 16px;
}

.btn-premium:active:after {
  background: transparent;
}

.btn-premium:hover:before {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.btn-watch {
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  transition: opacity 0.3s ease-in-out;
}

.btn-watch:before {
  content: "";
  background: linear-gradient(45deg, #f3e304, #000000, #7843f5, #0a0130);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(1px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 16px;
}

.btn-watch:active:after {
  background: transparent;
}

.btn-watch:hover:before {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
