.offcanvas-backdrop::before {
  z-index: 10000;
}

.side-menu-icon {
  object-fit: none;
  width: 40px;
}

#off-canvas-menu {
  overflow-x: hidden;
  z-index: 10000;
  .offcanvas {
    background: $CARD-lINEAR;
  }

  .offcanvas-start {
    max-width: 295px;
  }

  .offcanvas-header {
    z-index: 3000;
  }
  .offcanvas-body {
    z-index: 2000;
  }
  .off-canvas-burger {
    position: absolute;
    top: 60px;
    left: 0;
  }
}

#side-menu {
  position: fixed;
  width: 295px;
  background: $CARD-lINEAR;
  overflow: auto;

  a:hover {
    color: #fff;
  }
  li:hover {
    background: $main-background;
  }
}

.side-menu-content {
  padding-left: 47px;
}
