#dashboard.teams {
  min-height: 100vh !important;
  background: #15153a;
}

.teams .row{
  padding-left:8px!important;
}
#login .inner {
  width: 90%;
}

.teams .carousel{
  background: #000;
  height: 350px;
  background-image: url("https://assets2.rappler.com/2020/09/1599552616-execration-mpl-ph.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.title{
  padding-left:12px!important;
}
.teams-h1 {
  font-size: 30px;
  text-align: left!important;
}
.teams h2{
  text-align: left!important;
}
.team-sm-box {
  height: 150px;
  max-height: 200px;
  background: linear-gradient(#4d4f95, #2b2d66);
  border-radius: 4px;
  border: 2px solid rgba(255, 255, 255, 0.0782099);
  box-shadow: 0px 24px 48px rgba(0, 1, 44, 0.157184);
}

.team-name {
  font-size: 20px;
  line-height: 20px!important;
}
.overlay {
  background: rgba(0, 0, 0, 0.2) !important;
  z-index: 0;
}
.flag {
  width: 30px;
  height: 20px;
  bottom: 10px;
  right: 10px;
  z-index: 1;
}

.right-menu {
  height: 100vh;
  background: linear-gradient(#4d4f95, #2b2d66);
}
.right-menu-main {
  border-bottom: 1px solid rgba(255, 255, 255, 0.356);
  padding-bottom: 10px;
}
.right-teams {
  height: 60px!important;
}
.mini-overlay {
  background: linear-gradient(to right, #e6606c, #6357f6);
  opacity: 0.9;
  z-index: 0;
}

img.top-img {
  margin-right: 15px!important;
  width: 60px!important;
  height:60px!important;
  object-fit: cover;
}
