$primary: #25408f;
$secondary: #3928f5;
$success: #3e8d63;
$info: #13101c;
$warning: #945707;
$danger: #d62518;
$light: #f8f9fa;
$dark: #2b2d66;
$darker: #6357f6;
$faded-blue: #64d7d7;
$gold: #ffd900;
$pink: #f55771;
$active: #181942;
$main-background: #181942;
$CARD-lINEAR: linear-gradient(#4d4f95, #2b2d66);
$gray: gray;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "darker": $darker,
  "fb": $faded-blue,
  "pink": $pink,
  "gold": $gold,
  "active": $active,
  "main": $main-background,
  "gray": $gray,
) !default;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/accordion";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/offcanvas";

@import "~bootstrap/scss/helpers";

// Only use the utilities we need
// stylelint-disable-next-line scss/dollar-variable-default
// $utilities: map-get-multiple(
//   $utilities,
//   (
//     "display",
//     "order",
//     "flex",
//     "flex-direction",
//     "flex-grow",
//     "flex-shrink",
//     "flex-wrap",
//     "justify-content",
//     "align-items",
//     "align-content",
//     "align-self",
//     "margin",
//     "margin-x",
//     "margin-y",
//     "margin-top",
//     "margin-end",
//     "margin-bottom",
//     "margin-start",
//     "negative-margin",
//     "negative-margin-x",
//     "negative-margin-y",
//     "negative-margin-top",
//     "negative-margin-end",
//     "negative-margin-bottom",
//     "negative-margin-start",
//     "padding",
//     "padding-x",
//     "padding-y",
//     "padding-top",
//     "padding-end",
//     "padding-bottom",
//     "padding-start",
//   )
// );

// Utilities
@import "~bootstrap/scss/utilities/api";
// scss-docs-end import-stack

@import "bootstrap/scss/bootstrap.scss";
@import "sidemenu";
@import "styles";
@import "main-dashboard";
@import "extra-utilities";
@import "sidemenu";
@import "live";
@import "teams";
@import "login";
@import "videos";
@import "featured";
@import "team-profile";
@import "dashboard";

.active {
  background-color: $main-background;
}

.btn,
button {
  border: 0;
}

* a:hover {
  color: gray;
}

* {
  font-family: "Barlow", sans-serif;
  font-family: "Barlow Condensed", sans-serif;
}


.bg-banner-1{
  background-image: url(https://static.tweaktown.com/content/6/8/6871_1_interested-esports-heres-guide-start-viewership-journey.jpg);
  object-fit: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
}

.bg-banner-2{
  background-image: url(https://esportsjunkie.com/wp-content/uploads/2020/09/01-mercedes-benz-esports-3400x1440.jpeg);
  object-fit: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
}


.bg-card{
  background: $CARD-lINEAR;
}

.bg-none{
  background: none;
}

.bg-fade{
  background: rgba($color: #000, $alpha: 0.85);
}